@media (orientation: portrait) {
#stage1 {
	width: 325px;
	height: 525px;
	/*display: flex;*/
	flex-direction: column;
	/*border: 1px solid green;*/
}

#substage1{
	width: 325px;
	height: 525px;
	/*border: 1px solid;*/
}

#blok1_stage1 {
	margin-top: 24px;
	width: 100%;
	text-align: center;
	font-family: "Roboto";
	font-weight: 700;
	font-size: 24px;
	line-height: 28.13px;
}

#p_blok2_stage1 {

	margin-top: 30px;
	font-family: "Inter";
	font-weight: 500;
	font-size: 13px;
	line-height: 15.73px;
	color: rgba(86, 86, 86, 1);
}

#select_blok2_stage1 {

	padding-left: 5px;
	margin-top: 7px;
	width: 326px;
	height: 37.5px;

	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	line-height: 16.1px;
	color: rgba(0, 0, 0, 1);
	border-radius: 4px;
	background-color: rgba(250, 250, 250, 1);
	border: 1px solid rgba(166, 166, 166, 0.2);

}

#select_blok2_stage1>option {

	font-family: "Helvetica";
	font-weight: 400;
	font-size: 10px;
	/*line-height: 100%;*/
	line-height: 16.1px;
	color: brown;
	background-color: rgba(250, 250, 250, 1);
}

#p_blok3_stage1 {

	margin-top: 30px;
	font-family: "Inter";
	font-weight: 500;
	font-size: 13px;
	line-height: 15.73px;
	color: rgba(86, 86, 86, 1);
}

.opros {

	margin: 12.5px 0 0 0;
	display: flex;
	/*gap: 10px;*/
}

#opros1,
#opros2,
#opros3 {

	width: 16px;
	height: 16px;
}

.opros>label {

	padding-left: 9px;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 14px;
	line-height: 16.41px;
	color: rgba(0, 0, 0, 1);
}

#blok4_stage1 {

	margin: 34px 0 0 0;

	display: flex;
	flex-direction: column;
}

#p1_blok4_stage1 {

	font-family: "Inter";
	font-weight: 500;
	font-size: 13px;
	line-height: 15.73px;
	color: rgba(86, 86, 86, 1);
}

#p2_blok4_stage1 {

	font-family: "Inter";
	font-weight: 500;
	font-size: 10px;
	line-height: 12.1px;
	color: rgba(166, 166, 166, 1);
}

#zipcode {
	margin: 6px 0px 0 0;

	height: 35px;
	padding-left: 5px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 13.5px;
	line-height: 16.1px;
	border-color: rgba(166, 166, 166, 0.2);
}

input[type="text"][id="zipcode"]:placeholder {
	/*color: rgba(166, 166, 166, 1);*/
	color: rgba(206, 206, 206, 1);

}
}
