@media (orientation: landscape) {

#stage2 {
	margin-top: 2px;
	width: 325px;
	height: 80%;
	/*height: 88%;max-height: 680px;*/
	/*display: flex;*/
	/*//height: calc(100% - 50px);*/

	flex-direction: column;
	/*border: 1px solid green;*/
	overflow-y: auto;
}

#blok1_stage2 {
	margin-top: 42px;
	width: 100%;
	text-align: center;
	font-family: "Roboto";
	font-weight: 700;
	font-size: 24px;
	line-height: 28.13px;
}

#p1_stage2 {
	margin-top: 15px;
	width: 100%;
	text-align: center;
	font-family: "Roboto";
	font-weight: 500;
	font-size: 14px;
	line-height: 16.41px;
	color: rgba(166, 166, 166, 1);
}

#blok2_stage2 {
	margin: 30px 0 0 0;
}

#p_blok2_stage2 {
	font-family: "Inter";
	font-weight: 500;
	font-size: 13px;
	line-height: 15.73px;
	color: rgba(86, 86, 86, 1);
}

.network {
	margin: 12.5px 0 0 0;
	display: flex;
	/*gap: 10px;*/
}

#network1,
#network2 {
	width: 16px;
	height: 16px;
}

.network>label {
	padding-left: 9px;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 14px;
	line-height: 16.41px;
	color: rgba(0, 0, 0, 1);
	cursor: pointer;
}


#p2_stage2 {
	margin: 30px 0 0 0;
	font-family: "Inter";
	font-weight: 500;
	font-size: 13px;
	line-height: 15.73px;
	color: rgba(86, 86, 86, 1);
}

#blok3_stage2 {
	margin-top: 5px;
	position: relative;
	width: 100%;
	height: 25%;
	overflow: hidden;
}
#blok3_stage2::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.50), rgba(255, 255, 255, 1));
	pointer-events: none;
}

#spysok {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	overflow-y: scroll;
	/*border: 1px solid blue;*/
}
#spysok::-webkit-scrollbar {
	/* Приховання полос прокрутки у веб-кіт браузерах (Chrome, Safari) */
	width: 0.5em;
}
#spysok::-webkit-scrollbar-thumb {
	/* Колір для полоси прокрутки */
	background-color: transparent;
}
#spysok::-webkit-scrollbar-track {
	/* Колір для фону прокрутки */
	background-color: transparent;
}



.span_models {
	/*top: 0;*/
	margin: 6px 0px;
	width: 45%;
	/*flex-basis: 50%;*/
	box-sizing: border-box;

	display: flex;
	align-items: center;
	/*border: 1px solid;*/
}

input[type='checkbox'][name='models'] {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.label_models {
	margin-left: 5px;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 14px;
	line-height: 16.41px;
	color: rgba(0, 0, 0, 1);
	cursor: pointer;
}

#p3_stage2 {
	margin: 10px 0 5px 0;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 14px;
	line-height: 16.41px;
	color: rgba(255, 86, 12, 1);
}

#blok4_stage2 {
	margin-top: 5px;
	width: 100%;
	/*height: 150px;*/
	/*height: 20%;*/
	height: auto;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	/*border: 1px solid red;*/

}

#p4_stage2 {
	font-family: "Inter";
	font-weight: 500;
	font-size: 13px;
	line-height: 15.73px;
	color: rgba(86, 86, 86, 1);
}

.span_condition {
	margin: 5px 0;
	padding: 2px;
	display: flex;
	align-items: center;
}

.radio_condition {
	width: 16px;
	height: 16px;
}

.label_condition {
	margin-left: 5px;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 14px;
	line-height: 16.41px;
	color: rgba(0, 0, 0, 1);
	cursor: pointer;
}
/*   ---------------------------------------  */
}

